body {
  text-align: center;
}

h1 {
  color: #3F3D56;
  text-align: center;
  font-size: 32px;
  font-family: Dosis;
}

span {
  color: #EE24FF;  
}

p {
  color: #828282;
  text-align: center;
  font-size: 15px;
  font-family: Dosis;
  font-style: normal;
  font-weight: 400;
  line-height: 22px
}

#localizador {
  position: fixed;
  left: 0px;
  top: 0px;
}

#hero a + a{
  margin-left: 28px;
}

#line {
  width: 1024px;
  margin-top: 64px;  
}

#footer {
  position: fixed;
  bottom: 0px;
}